.DS_Store
.project
.settings
.classpath
.jupiter
.pydevproject
.checkstyle
target
.metadata/
/bin/
.log
logs
debug-logs

# IntelliJ files
.idea/
**/*.iml

# test files
**/*.factorypath
**/*.log
**/*.jtl
